<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Admin Login | SMS Shayari

</title>


<link rel="stylesheet"
href="/css/output.css">


</head>


<body class="min-h-screen bg-black flex items-center justify-center">



<div
class="w-full max-w-md p-8 rounded-3xl

bg-white/10

backdrop-blur-xl

border border-white/20

shadow-2xl"

>



<div class="text-center mb-8">


<h1

class="text-4xl font-bold text-purple-500"

>

SMS Shayari

</h1>


<p

class="text-zinc-400 mt-2"

>

Admin Panel Login

</p>



</div>




<form

action="/admin/login"

method="POST"

class="space-y-5"

>



<div>


<label

class="text-white block mb-2"

>

Email

</label>


<input


type="email"

name="email"

required


placeholder="Enter Email"


class="w-full p-3

rounded-xl

bg-zinc-900

text-white

outline-none

border border-zinc-700

focus:border-purple-500"

>



</div>





<div>


<label

class="text-white block mb-2"

>

Password

</label>



<input


type="password"

name="password"

required


placeholder="Enter Password"


class="w-full p-3

rounded-xl

bg-zinc-900

text-white

outline-none

border border-zinc-700

focus:border-purple-500"

>



</div>





<button


class="w-full

bg-gradient-to-r

from-purple-700

to-purple-500


p-3

rounded-xl


font-semibold

text-white


hover:opacity-90"

>


Login


</button>




</form>




<div class="text-center mt-8">


<p

class="text-zinc-500 text-sm"

>

© SMS Shayari


</p>


</div>



</div>



</body>


</html>
