<%
let currentCategory = null;

if (typeof activeCategory !== 'undefined') {
currentCategory = activeCategory;
}
%>

<section class="max-w-7xl mx-auto">

<div class="grid grid-cols-2 md:flex md:flex-wrap gap-3 justify-center">


<a
href="/"
class="
<%= !currentCategory
? 'bg-purple-700 text-white'
: 'bg-black/40 text-zinc-300 border border-white/10'
%>

px-4
py-3

rounded-full

text-center

w-full

md:w-auto

backdrop-blur-xl

transition

hover:bg-purple-700

hover:text-white
"
>

All

</a>



<% categories.forEach(category => { %>

<a

href="/category/<%= category.slug %>"

class="

<%=

currentCategory === category.slug

?

'bg-purple-700 text-white'

:

'bg-black/40 text-zinc-300 border border-white/10'

%>

px-4

py-3

rounded-full

text-center

w-full

md:w-auto

backdrop-blur-xl

transition

hover:bg-purple-700

hover:text-white

"

>

<%= category.name %>

</a>

<% }) %>

</div>

</section>
