<section class="relative overflow-hidden">

    <!-- Background Gradient -->
    <div class="absolute inset-0">

        <div class="absolute top-0 left-0 w-96 h-96 bg-purple-700/30 rounded-full blur-[120px]"></div>

        <div class="absolute bottom-0 right-0 w-96 h-96 bg-pink-600/20 rounded-full blur-[120px]"></div>

    </div>


    <div class="relative max-w-7xl mx-auto px-4 py-6 lg:py-8">

        <!-- Main Card -->

        <div class="bg-white/5 backdrop-blur-2xl border border-white/10 rounded-3xl p-5 md:p-6 lg:p-8">


            <!-- Heading -->

            <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center leading-tight">


                <span class="text-purple-400">

                    SMS Shayari

                </span>

                <br>

                Hindi Shayari Collection


            </h1>



            <!-- Description -->


            <p
                class="text-zinc-300 text-center mt-5 max-w-3xl mx-auto">


                Love Shayari, Sad Shayari, Dosti Shayari,
                Deshi Chutkula aur Motivational Shayari
                ka sabse bada collection.

            </p>





            <!-- Search -->


            <form

                action="/"

                method="GET"

                class="mt-6 max-w-3xl mx-auto"

            >


                <div class="relative">


                    <input

                        type="text"

                        name="search"

                        value="<%= search || '' %>"

                        placeholder="Search Shayari..."


                        class="w-full

                        p-5

                        rounded-2xl

                        bg-black/40

                        border border-white/10

                        outline-none

                        focus:border-purple-500"

                    >



                    <button


                        class="absolute

                        top-2

                        right-2


                        px-6
                       py-3
                      rounded-xl bg-purple-700 hover:bg-purple-600"> Search
                    </button>
                </div>
              </form>
            
        </div>
    </div>
</section>
