<% for(let i = 0; i < 6; i++){ %>

<div
class="mb-6 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl p-6 animate-pulse">

    <!-- Category -->

    <div class="flex justify-between mb-5">

        <div
        class="h-8 w-28 rounded-full bg-zinc-800">
        </div>


        <div
        class="h-5 w-24 rounded bg-zinc-800">
        </div>

    </div>



    <!-- Title -->


    <div
    class="h-8 w-3/4 rounded bg-zinc-800 mb-5">
    </div>



    <!-- Content -->


    <div class="space-y-3">

        <div class="h-4 rounded bg-zinc-800"></div>

        <div class="h-4 rounded bg-zinc-800"></div>

        <div class="h-4 w-5/6 rounded bg-zinc-800"></div>

        <div class="h-4 w-2/3 rounded bg-zinc-800"></div>

    </div>





    <!-- Stats -->


    <div class="flex gap-5 mt-6">

        <div
        class="h-5 w-14 rounded bg-zinc-800">
        </div>


        <div
        class="h-5 w-14 rounded bg-zinc-800">
        </div>


        <div
        class="h-5 w-14 rounded bg-zinc-800">
        </div>

    </div>






    <!-- Buttons -->


    <div class="flex gap-3 mt-6 flex-wrap">


        <div
        class="h-10 w-24 rounded-xl bg-zinc-800">
        </div>


        <div
        class="h-10 w-28 rounded-xl bg-zinc-800">
        </div>


        <div
        class="h-10 w-28 rounded-xl bg-zinc-800">
        </div>


        <div
        class="h-10 w-24 rounded-xl bg-zinc-800">
        </div>


    </div>


</div>

<% } %>
