<!-- Add Shayari Modal -->
<div

id="addModal"

class="fixed inset-0

bg-black/70

backdrop-blur-sm

hidden

z-50

overflow-y-auto"

>


<div

class="min-h-screen

flex

items-center

justify-center

p-5"

>



<div

class="w-full

max-w-4xl


bg-zinc-900/90

backdrop-blur-xl


rounded-3xl


border

border-white/10


shadow-2xl"

>




<!-- Header -->


<div

class="flex

justify-between

items-center


p-6


border-b

border-white/10"

>



<h2

class="text-2xl

font-bold

text-white"

>


Add Shayari


</h2>





<button


onclick="closeAddModal()"


class="text-zinc-400

hover:text-white

text-3xl"

>


&times;


</button>



</div>






<form
action="/admin/shayari/add"
method="POST"
onsubmit="alert('FORM SUBMITTED')"
class="p-6 space-y-6"
>




<!-- Title -->


<div>



<label

class="block

mb-2

text-white"

>


Title


</label

<input


type="text"

id="title"

name="title"

required


class="w-full


p-4


rounded-xl


bg-black/40


border

border-white/10


outline-none


focus:border-purple-500"

>

<input

name="slug"

placeholder="Slug (optional)"

class="w-full p-4 rounded-xl bg-black/40"

>

</div>







<!-- Category -->



<div>



<label

class="block

mb-2

text-white"

>


Category


</label>



<select


name="category"

required


class="w-full


p-4


rounded-xl


bg-black/40


border

border-white/10"

>



<option value="">Select</option>



<%

categories.forEach(

(cat)=>{

%>



<option

value="<%=cat._id%>"

>


<%=cat.name%>


</option>



<%

}

)

%>




</select>




</div>







<!-- Content -->



<div>



<label

class="block

mb-2

text-white"

>


Content


</label>



<textarea


name="content"

rows="8"

required


class="w-full


p-4


rounded-xl


bg-black/40


border


border-white/10"

>


</textarea>




</div>







<!-- SEO Accordion -->



<details


class="rounded-xl


bg-black/30


border


border-white/10"

>



<summary


class="p-4


cursor-pointer


text-purple-400"


>


Advanced SEO


</summary>




<div class="p-4 space-y-4">





<input


type="text"

id="seoTitle"

name="seoTitle"

placeholder="SEO Title"


class="w-full


p-4


rounded-xl


bg-black/40


border


border-white/10"

>






<textarea


id="seoDescription"

name="seoDescription"


rows="3"


placeholder="SEO Description"


class="w-full


p-4


rounded-xl


bg-black/40


border


border-white/10"

>


</textarea>






<input


type="text"

id="seoKeywords"

name="seoKeywords"

placeholder="SEO Keywords"


class="w-full


p-4


rounded-xl


bg-black/40


border


border-white/10"

>





</div>



</details>







<!-- Published -->



<div

class="flex

items-center

gap-3"

>



<label>

Published

</label>




<input


type="checkbox"

name="published"

checked


class="w-5

h-5"


>




</div>








<!-- Buttons -->



<div

class="flex

justify-end

gap-4"

>



<button


type="button"


onclick="closeAddModal()"


class="px-6

py-3


rounded-xl


bg-zinc-700"


>


Cancel


</button>






<button


type="submit"


class="px-6

py-3


rounded-xl


bg-purple-700


hover:bg-purple-600"

>


Save Shayari


</button>





</div>




</form>




</div>



</div>



</div>
<script>

function openAddModal(){

document
.getElementById(
'addModal'
)
.classList
.remove(
'hidden'
);

}


function closeAddModal(){

document
.getElementById(
'addModal'
)
.classList
.add(
'hidden'
);

}


document
.getElementById(
'title'
)
.addEventListener(
'input',
function(){

let title=this.value;

document
.getElementById(
'seoTitle'
)
.value=
title+
' | SMS Shayari';


document
.getElementById(
'seoDescription'
)
.value=
'Read '+
title+
' Hindi Shayari at SMS Shayari.';


document
.getElementById(
'seoKeywords'
)
.value=
title.toLowerCase()+
',hindi shayari,sms shayari';

}

);

</script>
