<!-- Edit Shayari Modal -->

<div
id="editModal"
class="fixed inset-0 bg-black/70 backdrop-blur-sm hidden z-50 overflow-y-auto"
>

<div class="min-h-screen flex items-center justify-center p-5">

<div
class="w-full max-w-4xl bg-zinc-900/90 backdrop-blur-xl rounded-3xl border border-white/10 shadow-2xl"
>

<!-- Header -->

<div class="flex justify-between items-center p-6 border-b border-white/10">

<h2 class="text-2xl font-bold text-white">

Edit Shayari

</h2>


<button
onclick="closeEditModal()"
class="text-zinc-400 hover:text-white text-3xl"
>

&times;

</button>

</div>




<form

id="editForm"

method="POST"

class="p-6 space-y-6"

>




<input
type="hidden"
id="editId"
>




<!-- Title -->


<div>


<label class="block mb-2 text-white">

Title

</label>


<input

type="text"

id="editTitle"

name="title"

required


class="w-full p-4 rounded-xl bg-black/40 border border-white/10 outline-none focus:border-purple-500"

>


</div>






<!-- Category -->


<div>


<label class="block mb-2 text-white">

Category

</label>


<select

id="editCategory"

name="category"

required


class="w-full p-4 rounded-xl bg-black/40 border border-white/10"

>



<%

categories.forEach(

(cat)=>{

%>



<option

value="<%=cat._id%>"

>

<%=cat.name%>

</option>



<%

}

)

%>



</select>



</div>







<!-- Content -->


<div>


<label class="block mb-2 text-white">

Content

</label>


<textarea


id="editContent"

name="content"

rows="8"

required


class="w-full p-4 rounded-xl bg-black/40 border border-white/10"

>


</textarea>



</div>






<!-- SEO -->


<details

class="rounded-xl bg-black/30 border border-white/10"

>


<summary

class="p-4 cursor-pointer text-purple-400"

>

Advanced SEO

</summary>




<div class="p-4 space-y-4">


<input


type="text"

id="editSeoTitle"

name="seoTitle"

placeholder="SEO Title"


class="w-full p-4 rounded-xl bg-black/40 border border-white/10"

>




<textarea


id="editSeoDescription"

name="seoDescription"

rows="3"

placeholder="SEO Description"


class="w-full p-4 rounded-xl bg-black/40 border border-white/10"

>


</textarea>





<input


type="text"

id="editSeoKeywords"

name="seoKeywords"

placeholder="SEO Keywords"


class="w-full p-4 rounded-xl bg-black/40 border border-white/10"

>



</div>


</details>






<!-- Published -->


<div class="flex items-center gap-3">


<label>

Published

</label>



<input

type="checkbox"

id="editPublished"

name="published"

class="w-5 h-5"

>


</div>






<!-- Buttons -->


<div class="flex justify-end gap-4">


<button


type="button"

onclick="closeEditModal()"


class="px-6 py-3 rounded-xl bg-zinc-700"

>

Cancel

</button>





<button


type="submit"


class="px-6 py-3 rounded-xl bg-purple-700 hover:bg-purple-600"

>

Update Shayari

</button>




</div>




</form>



</div>


</div>


</div>






<script>



function closeEditModal(){

document

.getElementById(

'editModal'

)

.classList

.add(

'hidden'

);

}




function fillEditModal(item){


document

.getElementById(

'editId'

)

.value=item._id;



document

.getElementById(

'editTitle'

)

.value=item.title;



document

.getElementById(

'editCategory'

)

.value=item.category;



document

.getElementById(

'editContent'

)

.value=item.content;



document

.getElementById(

'editSeoTitle'

)

.value=item.seoTitle;



document

.getElementById(

'editSeoDescription'

)

.value=item.seoDescription;



document

.getElementById(

'editSeoKeywords'

)

.value=item.seoKeywords;



document

.getElementById(

'editPublished'

)

.checked=item.published;



document

.getElementById(

'editForm'

)

.action='/admin/shayari/update/'+item._id;



document

.getElementById(

'editModal'

)

.classList

.remove(

'hidden'

);

}



</script>
